.navbar {
    font-size: 20px;
}

img {
    margin-top: -15px;
    height: 100px;
    width: 100px;
}

a {
  font-size: 20px;
  font-family: SansSerif;
}

.navbar-nav > li {
    padding-left:20px;
  padding-right:20px;
}

.navbar-nav > li a {
  color: black;
}

.navbar-nav > li a:hover {
  color: greenyellow;
}

.dropdownItem {
  background-color: white;
  color: black;
}

.dropdownItem > a:hover {
    background-color: white;
    color: greenyellow;
}

