.blackbackground {
  background-color: black;
  background-image: linear-gradient(to bottom right, black, 85%, greenyellow);
  width: 100vw;
}

p {
  font-size: 20px;
}

.header {
  color: greenyellow;
  margin-top: 80px;
  text-align: center;
  font-family: "Roboto Light", serif;
}

.text_area {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: greenyellow;
  font-family: "Roboto Light", serif;
}

.text_center {
  vertical-align: middle;
}

img {
  width:900px;
  height:500px;
}

.img_background {
  background-color: black;
}

@media screen and (max-width: 650px) {
  .mobile_img_size  {
    height: 250px;
    width: 450px;
  }
}

@media screen and (max-width: 1650px) {
  .mobile_img_size  {
    height: 350px;
    width: 550px;
  }
}
