<section class="blackbackground" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 header">
      <h1>EEN DAK - EEN DOEL</h1>
      <p>Wij durven te roepen dat er levens gaan veranderen bij Go4Fit Bree.<br></p>
      <p>Jezelf en elkaar uitdagen, verbinden & verbeteren staan bij ons op #1. Net als jij!<br><br><br><br><br></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 img_background">
      <img src="assets/go4fit_home.jpg" class="mobile_img_size">
    </div>
    <div class="col-sm-6 text_area">
      <p><span style="font-size: 40px">Nick Goos</span> - Eigenaar Go4Fit Bree</p>
      <p>”Dreams come true!<br> Na jaren werken en slijpen aan mijn concept, <br>zoeken naar hetgeen waardoor jij echt
        stappen kunt zetten, <br>is het eindelijk zover.”</p>
      <br><br>
      <p>Bree en omstreken krijgen de gym die het al lang verdient,<br> onder één dak met één doel:<br> ‘Creating a life-changing fit
        community door sport, herstel, <br>voeding en mind-set samen te brengen.’</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 text_area">
      <h1 class="text_center">CIRCUIT TRAINING</h1><br><br>
      <P>Circuit training traint alle aspecten van het lichaam.<br>Combineer kracht, cardio, balans en core oefeningen<br>
        in een top-fullbodyworkout en dat in slecht 45 minuten. <br>
        Niet alleen tijdens maar ook na deze High Intensity Interval Training verbrand je nog talloze calorieën. <br>
        Dit noemt men het after-burn effect.<br><br><br>

        BINNEN NO-TIME IN TOPVORM</P>
    </div>
    <div class="col-sm-6 img_background">
      <img src="assets/pompen_klein.jpg" class="mobile_img_size">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 img_background">
      <img src="assets/kettlebell-2052765_640.jpg" class="mobile_img_size">
    </div>
    <div class="col-sm-6 text_area">
      <h1 class="text_center">CROSS TRAINING</h1><br><br>
      <p>Cross training is een core strength en conditie programma,<br>
        waarbij gewichtheffen, atletiek en gymnastiek wordt gecombineerd.<br>
        Gedurende de trainingen worden functionele bewegingen op een gevarieerde manier in een hoge intensiteit uitgevoerd.<br>
        De filosofie achter de Cross training is om niet te specialiseren in één specifiek sportonderdeel<br>
        omdat dit tot een eenzijdige fysieke ontwikkeling zou leiden.</p>
    </div>
  </div>

</section>
