<section id="home">
  <video autoplay muted id="myVideo">
    <source src="assets/video/go4fit_intro.mp4" type="video/mp4">
  </video>
</section>

<!--
<section id="home">
    <img src="assets/go4fit_home.jpg" class="img-responsive mobile-margin_img" alt="Go4Fit Bree" style="width: 100vw; height: 100vh;">
    <div class="overlay-effect"></div>
    <div class="centered">
      <h1 class="mobile-margin_h1 text_color">
        Start today, <br>Excel forever
      </h1>
      <h2 class="mobile-margin_h2 text_color">
        Circuit training - Personal training - Gratis proefles
      </h2>
    </div>
</section>
-->


<!--<section >
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5">
      <div class="row">
        <div class="col-xs-3" style="background-color: green">
          1
        </div>
        <div class="col-xs-3" style="background-color: yellow">
          2
        </div>
        <div class="col-xs-3" style="background-color: blue">
          3
        </div>
        <div class="col-xs-3" style="background-color: red">
          4
        </div>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="row">
        <div class="col-xs-3" style="background-color: yellow">
          5
        </div>
        <div class="col-xs-3">
          6
        </div>
        <div class="col-xs-3" style="background-color: red">
          7
        </div>
        <div class="col-xs-3" style="background-color: red">
          8
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
</section>-->
