img {
    margin-top: 150px;
}

.main{
    background-color: black;
    background-image: linear-gradient(to bottom right, black, 85%, greenyellow);
}

.adress{
    margin-top: 20px;
    font-size: 20px;
    color: greenyellow;
}
