<div>
    <img class="center-block img-circle" src="assets/Go4Fit_logo.png"
         width="350" height="350">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 text-center adress">
            <label>{{ company.name }}</label><br>
            <label>{{ company.street }}</label><br>
            <label>{{ company.postalCode }} {{ company.city}}</label>
            <label>Tel: {{ company.phoneNumber }}</label>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
