
<div class="container-fluid my-container">
    <div class="row my-header-row">
        <div class="col-md-12 text-center title">
            <p>Agenda Go4Fit Bree</p>
        </div>
    </div>

    <!-- TODO: The code below need to move to seperate component in a newer version.  -->

    <div class="form-group row my-row ">
        <div class="col-md-4">
            <button class="thisWeekButton" (click)="currentWeek()">Deze week</button>
        </div>
        <label class="col-md-4  weekLabel">{{ firstDayOfWeekString }} {{ dateOfWeek | date:'MMM' }} -
                                            {{ lastdayOfWeekString }} {{ dateOfWeek | date:'MMM' }}
                                            {{ dateOfWeek | date:'yyyy'}}</label>
        <div class="col-md-2"></div>
        <div class="col-md-1 ">
            <label>Week: {{ weekNumber }}</label>
        </div>
        <div class="col-md-1">
            <button class="nextWeekButton" (click)="getNextWeekData()"> > </button>
        </div>
    </div>
    <!-- End of TODO code -->

    <div class="row my-row-trainingsday">
        <div *ngFor="let day of trainingsDaysList; let i = index" class="col-md-3 colmargintop">
            <div class="trianingdaytitle">
                <span class="trainingday">{{ day }}</span><br>
                <span class="spanmargin">{{ trainingDaysDatesList[i] }}</span>
            </div>
            <div *ngFor="let time of trainingsTimes[i]; let x = index" (click)="onTrainingMomentClick(time, day, trainingDaysDatesList[i])">
                <div class="reservation" disabled="isOccupied"
                [style.border-left]="trainingsTypes[i][x] == 'circuittraining' ? '5px solid greenyellow' : '5px solid red '"
                     data-toggle="modal"
                     data-target="#myModal">
                    <span class="reservationtitle"> {{ trainingsTypes[i][x] }}</span><br>
                    <span>{{ time }}</span><br>
                    <span style="float: right; margin-top: 20px;"> {{ getNumberOfReservations(i, x) }} </span>

                </div>


                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">Bevestig je reservatie.</h4>
                            </div>
                            <div class="modal-body">
                                <label>Naam: {{ participantName }}</label><br>
                                <label>dag: {{ reservationDay }}</label><br>
                                <label>uur: {{ reservationTime }}</label>
                            </div>
                            <div class="modal-footer pull-left">
                                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="confirmReservation()">Bevestig</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
