<div class="container-fluid my-container">
    <div class="row my-header-row">
        <div class="col-md-12 text-center title">
            <p>Admin Agenda Go4Fit Bree</p>
        </div>
    </div>

    <!-- TODO: The code below need to move to seperate component in a newer version.  -->
    <!-- Date and Day bar -->
    <div class="form-group row my-row ">
        <div class="col-md-4">
            <button class="thisWeekButton" (click)="currentWeek()">Deze week</button>
        </div>
        <label class="col-md-4  weekLabel">{{ firstDayOfWeekString }} {{ dateOfWeek | date:'MMM' }} -
            {{ lastdayOfWeekString }} {{ dateOfWeek | date:'MMM' }}
            {{ dateOfWeek | date:'yyyy'}}</label>
        <div class="col-md-2"></div>
        <div class="col-md-1 ">
            <label>Week: {{ weekNumber }}</label>
        </div>
        <div class="col-md-1">
            <button class="nextWeekButton" (click)="getNextWeekNumber()"> > </button>
        </div>
    </div>
    <!-- End of TODO code -->

  <!-- Training moments -->
    <div class="row my-row-trainingsday">
        <div class="col-md-1"></div>
        <div *ngFor="let day of trainingsDaysList; let i = index" class="col-md-2 colmargintop" (click)="onTrainingDayClick(day, trainingDaysDatesList[i])">
            <div class="trianingdaytitle">
                <span class="trainingday">{{ day }}</span><br>
                <span class="spanmargin">{{ trainingDaysDatesList[i] }}</span>
            </div>
            <div *ngFor="let time of trainingsTimes[i]; let x = index" (click)="onTrainingMomentClick(time)">
                <div class="reservation"
                     [style.border-left]="trainingsTypes[i][x] == 'circuit training' ? '4px solid greenyellow' : '4px solid red '"
                     data-toggle="modal"
                     data-target="#myModal">
                    <span class="reservationtitle"> {{ trainingsTypes[i][x] }} </span><br>
                    <span style="border-bottom: 2px solid black">{{ time }}</span><br>

                    <div style="padding-top: 10px">
                      <ul *ngFor="let participant of participants[getIndex(i, x)]">
                            <li > {{ participant }} </li >
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Voeg toe / verwijder een klant</h4>
                        </div>
                        <div class="modal-body">
                            <label>dag: {{ reservationDay }}</label><br>
                            <label>uur: {{ reservationTime }}</label><br>
                            <label>Voornaam  :&nbsp;&nbsp;</label>
                            <input type="text" name="add_remove_field" [(ngModel)]="newFirstName" autofocus><br>
                            <label>Achternaam:&nbsp;&nbsp;</label>
                            <input type="text" name="add_remove_field" [(ngModel)]="newLastName">
                        </div>
                        <div class="modal-footer pull-left">
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="removeParticipant()">Verwijder</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addNewParticipantWhenOnlyNameIsAvailable()">Voeg toe</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
