<div class="container-fluid blackbackground">
    <div class="row rowHeight equal h-600 justify-content-around">
        <div class="col-md-2 col-xs-4 topmargin">
            <br><br><p class="priceName"> {{ prices[0].name}} </p><br><br><br>
            <p class="price"> {{ prices[0].price}} </p><br><br><br>
            <p class="expire"> {{ prices[0].expireDate}} </p><br><br><br>
        </div>
        <div class="col-md-2 col-xs-4 topmargin">
            <br><br><p class="priceName"> {{ prices[1].name}} </p><br><br><br>
            <p class="price"> {{ prices[1].price}} </p><br><br><br>
            <p class="expire"> {{ prices[1].expireDate}} </p><br><br><br>
        </div>
        <div class="col-md-2 col-xs-4 topmargin">
            <br><br> <p class="priceName"> {{ prices[2].name}} </p><br><br><br>
            <p class="price"> {{ prices[2].price}} </p><br><br><br>
            <p class="expire"> {{ prices[2].expireDate}} </p><br><br><br>
        </div>
    </div>
</div>
